.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$blue: #003366;
$red: #ff0000;
$green: #00b153;
$gray-600: #c8c8c8;

$border-radius: 4px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.btn-outline-secondary {
  color: #373a3c;
}

body {
  padding-top: 100px;
  background: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
}

.oc-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  background: #FFFFFF;
  z-index: 8;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__toggle {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px 22px;
    background: #D90000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #003366;
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 25px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }
  }

  &__current {
    display: inline-block;
    padding: 11px 20px;
    border-left: 1px solid #E0E0E0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    color: #003366;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #D90000;
      text-decoration: none;
    }
  }

  form {
    max-width: 575px;

    .btn {
      padding: 9px 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #FFFFFF;
    }
  }

  .form-control {
    padding: 9px;
    border: 0;
    background: #E0E0E0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #373A3C;
    text-align: center;
  }

  .btn-success {
    display: inline-block;
    margin: 0 20px;
    padding: 9px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
  }

  &__select {
    display: inline-block;

    select {
      font-size: 14px;
      border: none;
      box-shadow: none;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      outline: none;
      padding: 9px 15px;
      border: 1px solid #E0E0E0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #373A3C;

      // Disable ugly ass outline on firefox 
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

      &:focus {
        border-color: #003366;
      }
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #373A3C;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #373A3C;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #373A3C;
  }
}

.oc-sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 285px;
  height: 100vh;
  overflow-y: auto;
  background: #003366;
  transform: translateX(-110%);
  transition: all 0.2s ease-out;
  z-index: 9;

  &_show {
    transform: translateX(0);
  }

  &__close {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    background: #D90000;

    img {
      display: inline-block;
      margin-right: 20px;
      padding: 8px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #FFFFFF;

      img {
        opacity: 0.7;
      }

      text-decoration: none;
    }
  }

  &__content {
    display: block;
    width: 100%;
    padding: 20px 30px;
    color: #FFFFFF;
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: block;

      &>a {
        display: block;
        list-style: none;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }

  &__sub {
    display: block;
    position: relative;
    width: 100%;
    max-width: 185px;
    margin: 0;
    padding: 0 0 0 20px;
    border-top: 2px solid #D90000;
    list-style: none;

    &>li {
      display: block;

      &>a {
        display: block;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 30px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }
}

.oc-nav {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #E0E0E0;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__toggle {
    display: inline-flex;
    align-items: center;
    position: relative;

    img,
    svg {
      display: inline-block;
      margin-right: 7px;
    }

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #373A3C;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #D90000;
      text-decoration: none;
    }
  }

  &__this {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 3px 37px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        color: #373A3C;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }
}

.oc-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 18px 0;
  background: #EBEBEB;
  z-index: 0;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__hr {
    display: inline-block;
    width: 2px;
    height: 30px;
    margin-right: 10px;
    background: #E0E0E0;
  }

  &__this {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        padding: 8px 10px 8px 25px;
        background: #FFFFFF;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: normal;
        color: #373A3C;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;

          &:before {
            background: #D90000;
          }
        }

        &:before {
          display: block;
          position: absolute;
          content: '';
          top: 10px;
          left: 10px;
          width: 10px;
          height: 10px;
          border-radius: 999rem;
          background: #999999;
        }
      }
    }
  }

  &__tags {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        padding: 8px 10px;
        background: #FFFFFF;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: normal;
        color: #373A3C;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }
}

.oc-main {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 10px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #373A3C;
  }

  &__nav {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    .btn-outline-secondary {
      padding: 10px 30px;
      border-color: #E0E0E0;
    }

    &-this {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      border: 1px solid #E0E0E0;
      border-radius: 4px 0 0 4px;

      &_active {
        a {
          border-color: #0016AE !important;
          background: #F3F3F3;
          font-weight: 600 !important;
          color: #373A3C !important;
        }
      }

      li {
        display: inline-block;

        &:first-child {
          a {
            border-radius: 4px 0 0 4px;
          }
        }

        a {
          display: inline-block;
          padding: 14px 22px 10px 22px;
          border-bottom: 4px solid transparent;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: normal;
          color: #3B3E44;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;

          &:hover {
            color: #D90000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.oc-info {
  display: block;
  position: relative;
  padding: 30px 30px 10px 30px;

  &__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 200px;

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__map {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;

    #map {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-zoom {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      max-width: 40px;
      max-height: 40px;
      z-index: 3;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.98);
        text-decoration: none;
      }
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0;
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #262626;
  }

  &__icon {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin-right: 15px;
  }

  &__text {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #262626;
  }

  &__link {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #0016AE;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #D90000;
      text-decoration: none;
    }
  }

  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          transform: scale(0.98);
          text-decoration: none;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

.oc-banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 240px;
  height: 400px;
  margin-bottom: 20px;
  background-color: #D8D8D8;

  img,
  svg,
  iframe {
    max-width: 100%;
    max-height: 100%;
  }
}

.oc-big {
  display: block;
  position: relative;
  width: 100%;
  max-width: 940px;
  height: 440px;
  border-radius: 4px;

  .swiper-pagination-bullet {
    width: 50px;
    height: 3px;
    margin: 0 10px;
    border-radius: 0;
    background: #FFFFFF;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #0016AE;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .swiper-button-next {
    right: 0;
    background: url('../images/assets/icon_swipe_next.svg');
  }

  .swiper-button-prev {
    left: 0;
    background: url('../images/assets/icon_swipe_prev.svg');
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px 20px 60px 20px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 7e-05) 0%, rgba(0, 0, 0, 0.49) 100%), #D8D8D8;
      border-radius: 4px;
      text-align: center;
    }

    &-title {
      display: block;
      margin: 0 0 9px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      color: #FFFFFF;
    }

    &-text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.7;
    }
  }
}

.oc-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 0 0;

  &__title {
    display: block;
    width: 100%;
    margin: 0 0 18px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #373A3C;
  }

  &__text {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #262626;

    a {
      color: #0016AE;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #D90000;
        text-decoration: none;
      }
    }
  }

  &__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 10px 10px 0;
      padding: 5px 10px;
      background: #F3F3F3;
      border-radius: 4px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: #373A3C;
    }
  }

  &__rows {
    display: block;
    position: relative;
    width: 100%;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px 0 6px 0;
    border-top: 1px solid rgba(193, 191, 191, 0.5);

    &:first-child {
      border: 0;
    }

    &-title {
      display: inline-block;
      width: 100%;
      max-width: 210px;
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 34px;
      color: #262626;
    }

    &-text {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #262626;

      a {
        color: #003366;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }
}

.oc-hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background: #E0E0E0;
}

.oc-subtitle {
  display: block;
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #373A3C;
}

.oc-news {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 10px 0;

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 999rem;
    outline: none;
    background: #FFFFFF !important;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .swiper-button-next {
    right: calc((100vw - 1290px) / 2 - 20px);
    background: url('../images/assets/icon_swipe_next.svg');
  }

  .swiper-button-prev {
    left: calc((100vw - 1290px) / 2 - 20px);
    background: url('../images/assets/icon_swipe_prev.svg');

    img,
    svg {
      transform: rotate(180deg);
    }
  }

  &_righted {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 0 0 0;
  }

  &__more {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.4px;
    color: #D90000;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #0016AE;
      text-decoration: none;
    }

    img,
    svg {
      display: inline-block;
      margin-left: 10px;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 180px;
      border-radius: 4px 4px 0 0;
    }

    &-info {
      display: inline-block;
      padding: 4px 10px;
      background: #D90000;
      border-radius: 4px 0px 4px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: normal;
      color: #FFFFFF;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 18px 20px 24px 20px;
    }

    &-title {
      display: block;
      height: 60px;
      overflow: hidden;
      margin: 0 0 11px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #373A3C;
    }

    &-text {
      display: block;
      height: 32px;
      overflow: hidden;
      margin: 0 0 20px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: #999999;
    }

    &-views {
      display: flex;
      align-items: center;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: normal;
      color: #999999;

      img,
      svg {
        display: inline-block;
        max-width: 15px;
        max-height: 15px;
        margin-right: 5px;
      }
    }
  }
}

.oc-shops {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 20px 0;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 180px;
      border-radius: 4px 4px 0 0;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 16px 20px 18px 20px;
    }

    &-title {
      display: block;
      overflow: hidden;
      margin: 0 0 13px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      color: #373A3C;
    }

    &-text {
      display: block;
      overflow: hidden;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: #999999;
    }
  }
}

.oc-coupon {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 10px 0;

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 999rem;
    outline: none;
    background: #FFFFFF !important;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .swiper-button-next {
    right: calc((100vw - 1290px) / 2 - 20px);
    background: url('../images/assets/icon_swipe_next.svg');
  }

  .swiper-button-prev {
    left: calc((100vw - 1290px) / 2 - 20px);
    background: url('../images/assets/icon_swipe_prev.svg');

    img,
    svg {
      transform: rotate(180deg);
    }
  }

  &_righted {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 0 0 0;
  }

  &__more {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.4px;
    color: #D90000;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #0016AE;
      text-decoration: none;
    }

    img,
    svg {
      display: inline-block;
      margin-left: 10px;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 170px;
      border-radius: 4px 4px 0 0;
    }

    &-info {
      display: inline-block;
      padding: 10px;
      background: #00B153;
      border-radius: 4px 0px 4px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 16px 20px 20px 20px;
    }

    &-title {
      display: block;
      height: 88px;
      overflow: hidden;
      margin: 0 0 11px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #3B3E44;
    }

    &-text {
      display: block;
      height: 40px;
      overflow: hidden;
      margin: 0 0 14px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #999999;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #999999;
    }

    &-counter {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #999999;
    }

    &-views {
      display: inline-flex;
      align-items: center;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: normal;
      color: #999999;

      img,
      svg {
        display: inline-block;
        max-width: 13px;
        max-height: 13px;
        margin-right: 5px;
      }
    }

    &-newprice {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #373A3C;
    }

    &-oldprice {
      display: inline-block;
      margin: 0 0 0 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #373A3C;
      mix-blend-mode: normal;
      opacity: 0.6;
    }

    &-link {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #00B153;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #D90000;
        text-decoration: none;
      }
    }
  }
}

.oc-gallery {
  display: block;
  position: relative;
  width: 100%;

  &__button {
    display: block;
    margin: 0 0 10px 0;
    padding: 14px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #373A3C;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      color: #373A3C;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;

    .swiper-pagination-bullet-active {
      background: #0016AE;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 40px;
      height: 40px;
    }

    .swiper-button-next {
      right: 20px;
      background: url('../images/assets/icon_swipe_next_3.svg');
    }

    .swiper-button-prev {
      left: 20px;
      background: url('../images/assets/icon_swipe_prev_3.svg');
    }

    .swiper-pagination {
      bottom: 20px;
      padding-right: 18px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #FFFFFF;
      text-align: right;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    height: 420px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-position: center center;
    background-size: cover;

    &-zoom {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      max-width: 40px;
      max-height: 40px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.98);
        text-decoration: none;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 100%;
    }

    &-description {
      display: block;
      width: 100%;
      padding: 18px 100px 18px 23px;
      border-radius: 0 0 4px 4px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 99.04%);
    }

    &-title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: normal;
      color: #FFFFFF;
    }

    &-text {
      display: block;
      margin: 5px 0 0 0;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }
  }
}

.oc-delivery {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;

    &-image {
      display: block;
      width: 100%;
      height: 180px;
      border-radius: 4px 4px 0 0;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 28px 20px;
    }

    &-title {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #373A3C;
    }

    &-info {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #3B3E44;
    }
  }

  &__info {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 620px;
    margin-bottom: 20px;
    padding: 25px 145px 35px 30px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;

    p {
      display: block;
      margin: 0 0 16px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #3B3E44;

      b,
      strong {
        font-weight: bold;
      }
    }

    &-big {
      display: block;
      margin: 25px 0 0 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #3B3E44;
    }
  }
}

.oc-three {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 405px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;

    &-image {
      display: block;
      width: 100%;
      height: 240px;
      border-radius: 4px 4px 0 0;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: block;
      position: relative;
      padding: 18px;
    }

    &-title {
      display: block;
      margin: 0 0 12px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      color: #373A3C;
    }

    &-text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.4;
      color: #373A3C;
    }
  }
}

.oc-two {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 620px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;

    &-image {
      display: block;
      width: 100%;
      height: 370px;
      border-radius: 4px 4px 0 0;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: block;
      position: relative;
      padding: 18px;
    }

    &-title {
      display: block;
      margin: 0 0 12px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      color: #373A3C;
    }

    &-text {
      display: block;
      margin: 0 0 15px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.4;
      color: #373A3C;
    }

    &-button {
      display: inline-block;
      padding: 9px 15px;
      border: 1px solid #003366;
      outline: none;
      box-sizing: border-box;
      border-radius: 4px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #373A3C;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #003366;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
}

.oc-seo {
  display: block;
  position: relative;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #262626;

  p {
    display: block;
    margin: 0 0 28px 0;
    line-height: 26px;
  }

  b,
  strong {
    font-weight: bold;
    color: #262626;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 940px;
    padding-bottom: 10px;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 28px;
    border-radius: 4px;

    .swiper-pagination-bullet-active {
      background: #0016AE;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 40px;
      height: 40px;
    }

    .swiper-button-next {
      right: 20px;
      background: url('../images/assets/icon_swipe_next_3.svg');
    }

    .swiper-button-prev {
      left: 20px;
      background: url('../images/assets/icon_swipe_prev_3.svg');
    }

    .swiper-pagination {
      bottom: 20px;
      padding-right: 18px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #FFFFFF;
      text-align: right;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 940px;
    height: 625px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-position: center center;
    background-size: cover;

    &-zoom {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      max-width: 40px;
      max-height: 40px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.98);
        text-decoration: none;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 100%;
    }

    &-description {
      display: block;
      width: 100%;
      padding: 18px 100px 18px 23px;
      border-radius: 0 0 4px 4px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 99.04%);
    }

    &-title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: normal;
      color: #FFFFFF;
    }

    &-text {
      display: block;
      margin: 5px 0 0 0 !important;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }
  }
}

.oc-panorama {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    display: block;
    width: 100%;
    max-width: 940px;
    padding-bottom: 10px;
  }
}

.oc-videos {
  display: block;
  position: relative;
  width: 100%;

  &__video {
    display: block;
    width: 100%;
    max-width: 620px;
    height: 360px;
    margin-bottom: 10px;
  }
}

.oc-reviews {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    display: block;
    width: 100%;
    max-width: 940px;
    padding-bottom: 70px;
  }
}

.oc-menu {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    display: block;
    width: 100%;
    max-width: 940px;
    padding-bottom: 10px;
  }

  &__tags {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 7px 15px;
        border: 1px solid #999999;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #FFFFFF;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: normal;
        color: #3B3E44;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          background: #F3F3F3;
          color: #373A3C;
          text-decoration: none;
        }
      }
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 940px;

    .swiper-button-prev,
    .swiper-button-next {
      width: 40px;
      height: 40px;
    }

    .swiper-button-next {
      right: 20px;
      background: url('../images/assets/icon_swipe_next_3.svg');
    }

    .swiper-button-prev {
      left: 20px;
      background: url('../images/assets/icon_swipe_prev_3.svg');
    }

    .swiper-pagination {
      bottom: 0;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      color: #373A3C;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 940px;
    padding-bottom: 30px;

    &-zoom {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      max-width: 40px;
      max-height: 40px;
      z-index: 2;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.98);
        text-decoration: none;
      }
    }


    &-title {
      display: block;
      margin: 0 0 15px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #373A3C;
      text-align: center;
    }

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 845px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1290px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    zoom: 0.9;
  }

  .oc-main__nav-this li a {
    flex: 0 1 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1199px) {
  .oc-header__toggle {
    padding: 14px 8px;
  }

  .oc-header form {
    display: none;
  }

  .oc-header .btn-success {
    margin: 5px;
    padding: 9px 6px;
  }

  .oc-header__select select {
    padding: 9px 6px;
  }

  .oc-header__current {
    border: 0;
    padding: 11px 0;
  }

  .oc-main__nav .input-group-append {
    display: none;
  }

  .oc-nav {
    display: none;
  }

  .oc-header__logo {
    margin-left: 55px;
  }

  .oc-breadcrumps {
    display: none;
  }

  .oc-main__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 33px;
  }

  .oc-main {
    .input-group {
      flex-flow: row nowrap;
      width: 100%;
      overflow-x: auto;
    }

    .oc-main__nav-this {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      border: 0;
      background: transparent;
    }
  }

  .oc-main__nva {
    .input-group-append {
      display: none;
    }
  }

  .oc-main__nav-this li {
    display: block;
  }

  .oc-main__nav-this li a {
    display: block;
    margin: 0 10px 0 0;
    padding: 9px 15px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 999rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    white-space: nowrap;
    color: #3B3E44;
  }

  .oc-main__nav-this li:first-child a {
    border-radius: 999rem;
  }

  .oc-main__nav-this_active a {
    border-color: #E0E0E0 !important;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    color: #373A3C;
  }

  .oc-info {
    padding: 0;
  }

  .oc-info__logo {
    height: auto;
  }

  .oc-info__map {
    max-width: 300px;
    height: 100%;
  }

  .oc-info__row {
    margin-bottom: 20px;
  }

  .oc-info__text {
    font-size: 14px;
  }

  .oc-big {
    width: 100%;
    height: 280px;

    &__card {
      max-width: 280px;
    }
  }

  .oc-big .swiper-button-prev,
  .oc-big .swiper-button-next {
    display: none;
  }

  .oc-big__card-title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 27px;
  }

  .oc-big__card-text {
    font-size: 16px;
    line-height: 24px;
  }

  .oc-article__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 27px;
  }

  .oc-article__text a {
    font-weight: bold;
    font-size: 14px;
    color: #003366;
  }

  .oc-article__row {
    padding: 0 0 10px 0;
    border: 0;
  }

  .oc-article__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .oc-article__row-title {
    display: block;
    max-width: auto;
    font-size: 14px;
    line-height: 24px;
  }

  .oc-article__row-text {
    display: block;
    font-size: 14px;
    line-height: 24px;
  }

  .oc-banner {
    display: none;
  }

  .oc-hr {
    margin: 18px 0;
  }

  .oc-subtitle {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 27px;
  }

  .oc-news .swiper-button-next {
    right: 0;
  }

  .oc-news .swiper-button-prev {
    left: 0;
  }

  .oc-news_righted {
    justify-content: center;
  }

  .oc-shops__cards {
    justify-content: space-around;
  }

  .oc-shops__card {
    max-width: 145px;
    margin-bottom: 10px;
  }

  .oc-shops__card-image {
    height: 85px;
  }

  .oc-shops__card-content {
    padding: 5px 15px 10px 15px;
  }

  .oc-shops__card-title {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 19px;
  }

  .oc-shops__card-text {
    font-size: 12px;
  }

  .oc-coupon .swiper-button-next {
    right: 0;
  }

  .oc-coupon .swiper-button-prev {
    left: 0;
  }

  .oc-coupon_righted {
    justify-content: center;
  }

  .oc-gallery__card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
  }

  .oc-gallery__card-title {
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
  }

  .oc-gallery__card-description {
    padding: 12px;
  }

  .oc-gallery__card-zoom {
    top: 5px;
    right: 5px;
  }

  .oc-gallery__cards .swiper-button-next {
    right: 5px;
  }

  .oc-gallery__cards .swiper-button-prev {
    left: 5px;
  }

  .oc-delivery__info {
    margin-bottom: 10px;
    padding: 30px 20px;
  }

  .oc-delivery__cards {
    justify-content: space-around;
  }

  .oc-delivery__card {
    max-width: 145px;
    margin-bottom: 10px;
  }

  .oc-delivery__card-image {
    height: 85px;
  }

  .oc-delivery__card-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 15px 10px 15px;
  }

  .oc-delivery__card-title {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 19px;
  }

  .oc-delivery__card-info {
    font-size: 12px;
  }

  .oc-gallery__cards {
    max-width: 450px;
  }

  .oc-gallery__card {
    height: 300px;
  }

  .oc-seo__cards {
    max-width: 700px;
  }

  .oc-seo__card {
    height: 450px;
  }

  .oc-videos__video {
    max-width: 400px;
    height: 250px;
    margin: 0 auto 15px auto;
  }

  .oc-seo__card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
  }

  .oc-seo__card-title {
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
  }

  .oc-seo__card-description {
    padding: 12px;
  }

  .oc-seo__card-zoom {
    top: 5px;
    right: 5px;
  }

  .oc-seo__cards .swiper-button-next {
    right: 5px;
  }

  .oc-seo__cards .swiper-button-prev {
    left: 5px;
  }

  .oc-menu__tags {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow-x: auto;
  }

  .oc-menu__tags li a {
    display: block;
    margin: 0 10px 0 0;
    padding: 9px 15px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 999rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    white-space: nowrap;
    color: #3B3E44;
  }

  .oc-menu__card {
    padding: 0;
  }

  .oc-menu__card-title {
    display: none;
  }

  .oc-menu__cards {
    max-width: 300px;
    margin: 0 auto;
  }

  .oc-menu__card-image {
    height: 410px;
  }

  .oc-menu__card-zoom {
    top: 10px;
    right: 5px;
  }

  .oc-menu__cards .swiper-button-prev {
    left: 5px;
  }

  .oc-menu__cards .swiper-button-next {
    right: 5px;
  }

  .oc-menu__cards .swiper-pagination {
    display: inline-block;
    width: auto;
    max-width: 70px;
    position: absolute;
    bottom: 20px;
    left: auto;
    right: 0;
    padding: 6px 12px;
    background: rgba(59, 62, 68, 0.5);
    border-radius: 4px 0px 0px 4px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .oc-delivery__info {
    max-width: 100%;
  }

  .oc-three__cards {
    justify-content: flex-start;
  }

  .oc-three__card {
    margin-right: 10px;
  }

  .oc-shops__cards {
    justify-content: flex-start;
  }

  .oc-shops__card {
    margin-right: 10px;
  }

  .oc-info__logo {
    align-items: flex-end;
  }
}

@media (max-width: 769px) {
  .oc-gallery__cards {
    max-width: 600px;
  }

  .oc-gallery__card {
    height: 300px;
  }

  .oc-seo__cards {
    max-width: 600px;
  }

  .oc-seo__card {
    height: 300px;
  }

  .oc-videos__video {
    max-width: 600px;
    height: 300px;
    margin: 0 auto 15px auto;
  }
}